html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

/* On définit les propriétés du menu des Messages*/
ul{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 25%;
	border-right: 1px solid #8e8e93;
	display: block;
}

.gauche{
	text-align: left;
}

/* On définit les propriétés de chaque Message*/
li{
	margin: 0;
	padding: 0;
	height: 11.3%;
	display: block;
}

/* Correspond au titre du menu */
li#first{
	height: 8%;
}

hr{
    border: 0;
    height: 0;
    margin:0;
    padding: 0;
    width: 95%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    left: 5%;
}

p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
	font-size: 16px;
	color: grey;
	width: 300px;
	display: inline-block;
	position: relative;
	bottom: 5px;
	left: 3px;
	padding-top: 3%;

}

strong{
	color:black;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue";
	font-weight: normal;
	font-size: 18px;
}

img{
	float: left;
	padding-top: 4.5%;
	padding-left: 5%;
	padding-right: 1%;
}